@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Pierre Plagnes<br />
    rue du roberty<br />
    63800 Cournon d'Auvergne<br />
    <abbr title="Téléphone">Tel: 06 08 73 91 18</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:pierre.plagnes@gmail.com">pierre.plagnes@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:pierre.plagnes@gmail.com">pierre.plagnes@gmail.com</a>
</address>
