@using MyFarm.Web.ViewModels.Farm
@model FarmViewModel
@{
    ViewData["Title"] = $"My farms - {Model.Name}";
}

<div class="esh-farms">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
